{
  "command": [
    "/vep",
    "--format", "vcf",
    "__OUTPUT_FORMAT_FLAG__",
    "-json",
    "--no_stats",
    "--force_overwrite",
    "--cache", "--offline",
    "--assembly", "GRCh38",
    "--plugin", "dbNSFP,dbNSFP4.3a_grch38.gz,Polyphen2_HVAR_score,gnomAD_exomes_NFE_AF,hg19_chr,CADD_phred,genename,Interpro_domain,gnomAD_genomes_POPMAX_AF,gnomAD_exomes_POPMAX_AF,aapos,aaref,clinvar_hgvs,SIFT_pred,gnomAD_genomes_NFE_AF,aaalt,Ancestral_allele,GTEx_V8_gene,GTEx_V8_tissue",
    "--dir_plugins", "/opt/vep/Plugins/",
    "-o", "STDOUT"
  ],
  "vep_json_schema": "Struct{transcript_consequences:Array[Struct{polyphen2_hvar_pred:String,gnomad_exomes_nfe_af:Float64,hg19_chr:Int32,cadd_phred:Float64,genename:String,interpro_domain:String,gnomad_genomes_popmax_af:Float64,gnomad_exomes_popmax_af:Float64,aapos:String,aaref:String,clinvar_hgvs:String,sift_pred:String,gnomad_genomes_nfe_af:Float64,aaalt:String,ancestral_allele:String,gtex_v8_gene:String,gtex_v8_tissue:String}],input:String}"
}